<a href="#hashtag-anchor" id="up" class="hashtag-title">
  <h1>#<%=ENV["HASHTAG"]%></h1>
</a>
<a id="hashtag-anchor"></a>

<div id="posts-list">
  <% @posts.each_with_index do |post, i| %>
    <%= render 'post', post: post, i: i %>
  <% end %>
</div>

<section class="load-older-posts">
	<div id="load-posts-btn"><a href="#load-posts-btn">Load Posts</a></div>
	<div id="loading"></div>
</section>

<section class="footer">Made with love by <a href="http://toomanynames.com">Anirudh</a>,
  <a href="https://twitter.com/scumbling" target="_blank">Dee</a>,
  <a href="http://itsplatano.com" target="_blank">Justin</a>,
  <a href="http://github.com/gitjulia" target="_blank">Julia</a>,
  <a href="http://github.com/mlennon3" target="_blank">Michael</a>,
  and <a href="https://github.com/ParkDan" target="_blank">Dan</a>
</section>
