<a href="#hashtag-anchor" id="up" class="hashtag-title">
  <h1>#<%=ENV["HASHTAG"]%></h1>
</a>
<a id="hashtag-anchor"></a>

<div id="posts-list">
  <% @posts.each_with_index do |post, i| %>
    <%= render 'post', post: post, i: i %>
  <% end %>
</div>

<h1 id="loading"></h1>

<section class="footer">Made with love by <a href="https://twitter.com/scumbling">Dee</a>, <a href="http://toomanynames.com">Anirudh</a>, <a href="http://itsplatano.com">Justin</a>, and <a href="http://github.com/mlennon3">Michael</a>
</section>
