<div href=<%=Dashtag::EnvironmentService.header_link%> id="up" class="hashtag-title">
  <div id="dashtag-shoutout-header-container" class="dashtag-shoutout-colors">
    Powered by <a href="https://github.com/anirudh-eka/dashtag" target="_blank">Dashtag</a> 
  </div>
  <h1><%=Dashtag::SettingService.header_title%></h1>
</div>

<a id="hashtag-anchor"></a>

<div id="posts-list">
  <% @posts.each_with_index do |post, i| %>
    <%= render 'post', post: post, i: i %>
  <% end %>
</div >

<section class="load-older-posts">
	<div id="load-posts-btn"><a href="#load-posts-btn">Load Posts</a></div>
	<div id="loading"></div>
</section>

<section class="footer dashtag-shoutout-colors">
  Powered by <a href="https://github.com/anirudh-eka/dashtag" target="_blank">Dashtag</a>. 
  <a href="https://github.com/anirudh-eka/dashtag" target="_blank">Make your own!</a>
</section>

<%= render 'custom_ui' %>