body {
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
  color: #FFF;
  background-color: #EFEFEF;
}

body, #container {
  margin-top: 107px;
}

h1 {
  color: #000;
  text-align: center;
  letter-spacing: .5px;
  font-weight: 300;
  font-style: italic;
  line-height: 2;
}

a {
  color: rgb(26,115,186);
}

a#hashtag-anchor {
display: block; 
position: relative;
 top: -250px; 
 visibility: hidden;
}

.tweet-container {
  margin: 5px 5px;
  width: 30%;
  text-align: center;
  padding: 20px 10px;
}

.tweet-picture img {
  width: 80%;
}

.tweet-container section {
  margin: 20px 0px;
}

.tweet-text {
  font-style: italic;
  font-size: 2em;
}

.tweet-username {
  font-weight: bold;
}

.avatar{
 width: 50px;
 height: 50px;
 background-size: cover;
 border-radius: 25px;
 -webkit-border-radius: 25px;
 -moz-border-radius: 25px;
 }

.tweet-created-at {
  text-align: right;
  font-size: .9em;
}

.footer {
  display: block;
  color: rgb(38,189,207);
  margin-top: 30px;
  text-align: center;
}

.background-color-1 {
  background: #F23390;
  /*background: rgb(240,186,149);*/
}

.background-color-2 {
  background: #F18B39;
  /*background: rgb(38,189,207);*/
}

.background-color-3 {
  background: #02AFB5;
  /*background: rgb(26,115,186);*/
}

.background-color-4 {
  background: #01288D;
  /*background: rgb(177, 28, 84);*/
  /*background: rgb(177, 28, 84);*/
  /*background: rgb(38,189,207);*/
  /*background: rgb(128,201,210);*/
}

.hashtag-title {
  text-decoration: none;
   z-index: 1;
   background-color: #EFEFEF;
   position: fixed;
   top:0; left:0;
   width: 100%;
 }

 .hashtag-title:hover {
  background-color: #F6F6F6;
 }

