body {
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
  color: #FFF;
  background-color: #EFEFEF;
}

body {
  margin-top: 65px;
}

#posts-list
{
    width: 100%;
    overflow: hidden;
    margin-bottom: -1.875em;
    width: 100%;
    margin-left: 2%;
}

h1 {
  color: #000;
  text-align: center;
  letter-spacing: .5px;
  font-weight: 300;
  font-style: italic;
  line-height: 2;
  margin: 0;
}

a {
  color: rgb(26,115,186);
  box-shadow: 0 3px 13px 0 rgba(2, 3, 3, 0.16);
  -webkit-box-shadow: 0 3px 13px 0 rgba(2, 3, 3, 0.16);
  opacity: .97;
}

a#hashtag-anchor {
 display: block; 
 position: relative;
 top: -250px; 
 visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.tweet-container {
  margin: 5px 5px;
  width: 30%;
  text-align: center;
  width: 92%;
  float: left;
  padding: 1.5% .75%;
  margin: 5px;
  -webkit-border-radius: 6px; 
  -moz-border-radius: 6px; 
  border-radius: 6px; 

}

.tweet-picture img {
  width: 80%;
}

.tweet-container section {
    margin: 20px 0 0 0;
}

.tweet-text {
  font-style: italic;
  font-size: 2em;
}

.tweet-username {
  font-weight: bold;
}

.avatar{
 width: 50px;
 height: 50px;
 background-size: cover;
 border-radius: 25px;
 -webkit-border-radius: 25px;
 -moz-border-radius: 25px;
 }

.tweet-created-at {
  text-align: right;
  font-size: .9em;
}

.footer {
  display: block;
  color: rgb(38,189,207);
  margin-top: 30px;
  text-align: center;
}

.background-color-1 {
  background: #F23390;
  /*background: rgb(240,186,149);*/
}

.background-color-2 {
  background: #F18B39;
  /*background: rgb(38,189,207);*/
}

.background-color-3 {
  background: #02AFB5;
  /*background: rgb(26,115,186);*/
}

.background-color-4 {
  background: #01288D;
  /*background: rgb(177, 28, 84);*/
  /*background: rgb(177, 28, 84);*/
  /*background: rgb(38,189,207);*/
  /*background: rgb(128,201,210);*/
}

.hashtag-title {
  text-decoration: none;
   z-index: 1;
   background-color: #EFEFEF;
   position: fixed;
   top:0; left:0;
   width: 100%;
 }

 .hashtag-title:hover {
  background-color: #F6F6F6;
 }

@media ( min-width: 768px )
{
    h1 {
        margin: 10px 0 10px 0;
    }

    body {
        margin-top: 85px;
    }
    .tweet-container
    {
        width: 45.876%;
        margin: 5px;
    }
    #posts-list {
     padding-left: 0;
    }
}

@media ( min-width: 992px )
{

    h1 {
        margin: 15px 0 15px 0;
    }

    body {
        margin-top: 95px;
    }
    #posts-list
    {
        padding-left: 0;
        width: 100%;
        overflow: hidden;
        margin-bottom: -1.875em;
    }

    .tweet-container {
        text-align: center;
        width: 30%;
        float: left;
        margin: 5px;
    }
}